// out: ./styles.css

/**
* html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
* Richard Clark (http://richclarkdesign.com)
* http://cssreset.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
display:block;
}
nav ul {
list-style:none;
}
a {
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

/* My stylesheet */

@import("https://fonts.googleapis.com/css?family=Baloo+Thambi|Roboto");

@font-headings: 'Baloo Thambi', cursive, sans-serif;
@font-body: 'Roboto', sans-serif;

@color-shell: #cd853f;
@color-yolk: #fabd00;
@color-stove: #dcdcdc;
@color-carton: #98817b;
@color-pan: #060608;

body {
    background-color: @color-stove;
}

div.hero {
    height: 100vh;
    width: 100%;
    position: relative;
}

h1.site-title {
    position: absolute;
    top: 6vh;
    width: 100%;
    font-family: @font-headings;
    color: @color-shell;
    text-align: center;
    font-size: 2rem;
    @media (min-width: 35rem) and (min-height: 45rem) {
        font-size: 4rem;
    };
    @media (min-width: 100rem) and (min-height: 35rem) {
        font-size: 6rem;
    };
}

img.hero-img {
    padding-top: 28vh;
    height: 50vh;
    display: block;
    width: 90%;
    margin: 0 auto;
    object-fit: contain;
}

div.styles-button-container{
    position: absolute;
    bottom: 3rem;
    width: 100%;
    text-align: center;
}

a.styles-button {
    display: inline-block;
    & img {
        width: 10rem;
        @media (min-width: 35rem) and (min-height: 45rem) {
            width: 18rem;
        };
    }
    outline: none;
    transition: transform 0.3s;
    &:hover, &:focus {
        transform: rotate(15deg);
    }
}
