/**
* html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
* Richard Clark (http://richclarkdesign.com)
* http://cssreset.com
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* My stylesheet */
@import ("https://fonts.googleapis.com/css?family=Baloo+Thambi|Roboto");
body {
  background-color: #dcdcdc;
}
div.hero {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 50% 2fr;
  overflow: hidden;
}
div.site-title {
  background-color: rgba(255, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
div.site-title h1 {
  text-align: center;
  font-family: 'Baloo Thambi', cursive, sans-serif;
  color: #cd853f;
  font-size: 2rem;
}
@media (min-width: 48rem) and (min-height: 35rem) {
  div.site-title h1 {
    font-size: 4rem;
  }
}
@media (min-width: 100rem) and (min-height: 35rem) {
  div.site-title h1 {
    font-size: 6rem;
  }
}
div.hero-img {
  background-color: rgba(0, 0, 255, 0.2);
  padding: 1rem;
}
div.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
div.style-links {
  background-color: rgba(0, 255, 0, 0.2);
  flex-wrap: wrap;
}
div.style-links,
div.style-links div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
div.style-links div {
  flex: 1 0 20rem;
}
div.style-links a {
  flex: 1 0 4rem;
  font-family: 'Baloo Thambi', cursive, sans-serif;
  color: #cd853f;
  font-size: 1.25rem;
  text-align: center;
  text-decoration: none;
  outline: none;
  display: block;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: visible;
}
@media (min-width: 48rem) and (min-height: 35rem) {
  div.style-links a {
    font-size: 1.5rem;
  }
}
@media (min-width: 100rem) and (min-height: 35rem) {
  div.style-links a {
    font-size: 2rem;
  }
}
div.style-links a:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.3);
}
div.style-links a img {
  height: 1.5rem;
  transition: transform 0.3s;
}
@media (min-width: 100rem) and (min-height: 35rem) {
  div.style-links a img {
    height: 2rem;
  }
}
div.style-links a:hover img {
  transform: rotate(30deg);
}
